@()
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Deep Dive Project!">
    <meta name="author" content="atWare T3 Team">

    <title>Deep Dive!</title>

    <link href="@routes.Assets.at("javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("javascripts/bower_components/jquery-file-upload/css/jquery.fileupload.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/login.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/admin.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("javascripts/bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("javascripts/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css")" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Dosis" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <script src="@routes.Assets.at("javascripts/bower_components/react/react-with-addons.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/react-router/build/global/ReactRouter.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/react/JSXTransformer.js")"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>
    <!-- Header -->
    <header id="top" class="header">
      <div id="magic" class="text-vertical-center">
      </div>
    </header>

    <script src="@routes.Assets.at("javascripts/bower_components/jquery/dist/jquery.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/bootstrap/dist/js/bootstrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/react-bootstrap/react-bootstrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@routes.Assets.at("javascripts/bower_components/react-loader/lib/react-loader.jsx")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/modals/modals.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/logout.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/login.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/expirableMessage.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/dashboard.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/dashboardNav.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/createRegion.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/createSubRegion.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/createReefType.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/createSite.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/regions.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/subregions.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/reeftypes.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/surveyevents.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/benthicUploadForm.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/benthicUpload.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/sites.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/user.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/empty.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/components/app.js")"></script>
  </body>
</html>
