@()

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deep Dive!</title>

    <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("css/stylish-login.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("css/user_page.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("favicon.ico")">
    <script src="http://fb.me/react-with-addons-0.12.2.js"></script>
<!--    <script src="@routes.Assets.versioned("lib/react/react-with-addons.js")"></script> -->
    <script src="@routes.Assets.versioned("lib/react-router/react-router.js")"></script>
    <script src="@routes.Assets.versioned("lib/react/JSXTransformer.js")"></script>
    <script src="@routes.Assets.versioned("lib/showdown/compressed/showdown.js")"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<!--    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script> -->
  </head>
  <body>

    <div id="magic" class="container"></div>

    <script type="text/jsx" src="@routes.Assets.versioned("js/hello.js")"></script>
  </body>
</html>
